@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

*{
box-sizing : border-box;
}
body{
	/* background : #14356b; */
	background-image : url("cityBg.gif");
	background-size : 100% 1000px;
	margin : 0;
	padding : 0;
	color:white;
}
body::-webkit-scrollbar {
    display: none;
}
.hide{
	display : none;
}
header{
	background : none;
	height : 100px;
}
a{
	color : white;
	text-decoration: none;
}
#neonsign{
	position : fixed;
	top : 0px;
	left: 20px;
	font-family: 'Fugaz One', cursive;
	color : white;
}

/* 메뉴바 */
#buttons{
	position :fixed;
	top : 0px;
	left :0px;
	width : 300px;
	height : 900px;;
	position: relative;
	background: #002c57;
	font-family: 'Fugaz One', cursive;
}
#buttons button{
	width : 100px;
	height : 150px;
	position : absolute;
	background : black;
	border : 3px inset white;;
	color : white;
	font-size: 30px;
}
#buttons button:hover{
	background: #fbe47b;
	color:black;
}
/* #buttons a{
	display:block;
	width : 100%;
	height : 100%;
	color : white;
	text-decoration: none;
} */
 #buttons a{
	display:block;
	width : 100px;
	height : 150px;
	position : absolute;
	background : black;
	border : 3px inset white;;
	color :white;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
}

#buttons a:hover{
	background : yellow;
	color :black;
}

#addWish{
	top:300px;
	left : 20px;
}
#goCart{
	top:300px;
	left : 140px;
}
#logout{
	top : 100px;
	left:140px;
} 
/*중간*/
#night{
	position:absolute;
	top:0;
	left:300px;
	width : 1000px;
	height : 1000px;
	clear: both;
	/* background : #14356b; */
}

/* 위시입력 */
#wishPage{
	/* position:absolute;
	top:1000px;
	left:300px; */
	width : 100%;
	height : 1000px;
	/* background : #ff8040; */
	background-image: url("galaxy.gif");
	background-size: cover;
}
/* 북마크 */
.bookmark{
	position:absolute;
	top:10px;
	right : 20px; 
	padding : 0;
	margin : 0;
	font-weight:bold;
	font-size: 50px;
	color : #e8b212;
	background : none;
	border : none;
	font-family: 'Jua', cursive;
	cursor: pointer;
}
/* 버튼 */
.btn{
	width : 50px;
	height: 30px;
	background: #c0c0c0;
	border: none;
	position :relative;
	left:100px;
	bottom : -20px;
	font-family: 'Fugaz One', cursive;
	cursor: pointer;
}
#okBtn{
	margin : 0;
	width : 40px;
	height: 30px;
	background : #c0c0c0;
	border : none;
	font-family: 'Fugaz One', cursive;
	cursor: pointer;
	}
#okBtn:hover,.btn:hover{
	box-shadow: 3px 3px #3e426c;
	animation: bounce 0.5s alternate infinite cubic-bezier(.5,0.05,1,.5);
}
@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, -10px, 0); }
}
/* 입력상자 */
[type = "text"]{ 
	margin : 3px 0 3px 20px;
	width : 200px;
	height : 30px;
}

#wishPage form{
	margin : auto;
	padding : 10px;
	position:relative;
	width : 350px;
	height: 400px;
	padding : 20px;
	background : white;
}
h3{
	font-size :25px;
	margin : 0px -10px 20px 20px;
	font-family: 'Fugaz One', cursive;
}
/* 상품이미지 */
#itemImg{
	display :inline-block;
	width:100px;
	height : 100px;
	margin :0 90px;
}
/* 태그 */
ul{
	padding:0;
	margin: 10px 20px;}
ul li{
	margin:0;
	list-style-type: none;
	float : left;
}
.Red{background: red;	}
.Orange{background: orange;	}
.Green{background: green;	}
.Blue{background: blue;	}
.Violet{background: #8000ff;	}
span{
	display: inline-block;
	border-radius : 50%;
	width : 15px;
	height : 15px;
}
#bookmark{
	position:absolute;
	top:25px;
	right : 20px;
	font-size: 30px;
	color : yellow;
}
/* 그냥 */
#moonShadow{
	position: absolute;
	top : -5px;
	right : 110px;
	background-color:#14356b;
	/* border : 1px solid red; */
	width : 110px;
	height : 110px;
	border-radius: 50%;
	animation : hide-moon 15s linear infinite;
}

#moon {
	position: absolute;
	top : 80px;
	right : 80px;
  	background-color: yellow;
  	width: 100px;
  	height: 100px;
	border-radius: 50%;
  	overflow:hiddoen;
}
@keyframes hide-moon{
	from{
		right : 120px;
	}
	25%{
		right : 80px;
	}
	50%{ right : 0px;
	}
	75%{ right : 80px;
	}
	to{
		right : 120;
	}
	
}

/* 바닥글 */
footer{
	height : 900px;
}
#moamoaPage{
	margin : auto;
	width : 100%;
	height : 850px;
	color: white;
	background: rgba(47, 64, 145, 0.5);
}


#moamoaPage h2{
	text-align: center;
	font-family: 'Handlee', cursive;
	font-size: 40px;
	text-shadow: blue;
}

#info_page {
	left: 5%;
	right: 5%;
	margin: auto;
}

#info_page div{
	float:left;
	font-family: 'Jua', sans-serif;
	font-size: 20px;
	text-shadow: black;
}

#info_page h4 {
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-size: 30px;
}

#how_to_use{
	margin-left: 5%;
	width: 30%;
}

#use_info{
	padding-left: 80px;
}

#disposable_site_list{
	width: 30%;
}

#site_info{
	padding-left: 50px;
}
#site_info a{
	display : block;
	clear : both;
}
#site_info a:hover{
	color : #fbe47b;
	
}

#connect_to_team{
	width: 30%;
	margin-right: 5%;
}

#connect_info{
	padding-left: 100px;
}

#member_info {
	font-family: sans-serif;
	clear : both;
	margin:0;
	height : 100px;
	background : #203a77;	
	text-align: center;
	color: white;
}
