@charset "UTF-8";
*{
box-sizing : border-box;
}
body{
		background : #14356b;
		color : white;
	}
	/* 헤더  */
header{
	text-align : center;
}
header a{
	color : white;
	text-decoration: none;
	
}
	/* 메뉴 */
nav{
	position:relative; 
	padding:0px;
	border:1px solid white;
	overflow : auto;
	width : 1200px;
	/* height : 40px; */
}
nav ul{
	margin:0;
	padding:0;
}
nav li{
	float : left;
	list-style-type : none;	
}
	
nav a {
	display : inline-block;
	background : white;
	color : black;
	padding : 0 10px;
	height : 40px;
	font-weight : bold;
	text-decoration: none;
	}
nav a:hover {
	background : #14356b;
	color : white
}
/* 메뉴 - 태그들 모음*/
#tagList span{
	display: inline-block;
	border-radius : 50%;
	width : 10px;
	height : 10px;
}
.Red{
	background : red;	
}
.Orange{
	background : orange;	
}
.Green{
	background : green;	
}
.Blue{
	background : blue;	
}
.Violet{
	background : #8000ff;	
}
	/* 본문 */
.main{
	position:relative;
	width:1200px;
	height:900px;
	background : white;
	color : black;
}
.itemList button{
	width :60px;
	height :60px;
	background : rgba(255,255,255,0.5);
}
#leftBtn{
	position : absolute;
	top:350px;
	left:-60px;
}
#rightBtn{
	position : absolute;
	top:350px;
	left:760px;
}
.itemList{
	display:inline-block;
	position:absolute;
	left:70px;
	top:0;
	width : 900px;
	height: auto;
		
	}
.item{
	border : 2px solid orange;
	width : 250px;
	height : 280x;
	text-align : center;
}	
.itemImg img{
	width : 150px;
	height : 150px;
}
	
	/* 사이드 */
.sideMenu{
	display:inline-block;
	position:absolute;
	right :0px;
	top : 0px;
	border : 2px solid #ff8040;
	width : 200px;
	height : 300px;
	color : black;
	}