@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@charset "UTF-8";
*{
	box-sizing : border-box;
}
/* 크롬 인풋 기본 스타일 제거 */
	input:focus {
  		outline: none;
	}
body{
	/* background : #14356b; */
	background-image : url("galaxy.gif");
	color : white;
	}
a{
	text-decoration: none;
}
ul li{
	list-style-type : none;
}
.clear{
	clear : both;
}
.hide{
	display : none;
}
	/* 헤더  */
header{
	text-align : center;
	font-family: 'Fugaz One', cursive;
}
header a{
	color : white;
}
	/* 메뉴 */
nav{
	position : relative;
	margin:auto;
	position:relative; 
	padding:0;
	border:1px solid white;
	width : 1200px;
	/* height : 40px; */
	overflow : hidden;
}
#comment {
	margin : 0;
	padding : 0 20px;
	font-weight : bold;
	}
	/*친구 장바구니 찾기 검색창*/
#search-friend{
	position : absolute;
	top : 0;
	right : 0;
	display : inline-block;
	width : 150px;
	height : 30px;
}
#search-friend input{
	margin : 0;
	background : none;
	border : none;
	border-bottom : 1px solid white;
	width : 100px;
	height : 30px;
	font-size : 12px;
	color : white;
}
#search-friend .btn{
	margin : 0;
	display : inline-block;
	background : none;
	border: none;
	width : 40px;
	height : 30px;
	color: white;
	font-family: 'Fugaz One', cursive;
	cursor: pointer;
}
#search-friend .btn:hover{
	color : orange;
}
/*메뉴*/
.menu{
	width : 1200px;
	height : 50px;
	overflow : hidden;
}
nav ul{
	margin:0;
	padding:0;
}
nav li{
	list-style-type : none;	
	margin : 0;
	padding : 0;
	float : left;
	overflow:hidden;
}
nav a {
	display : inline-block;
	background : none;	
	padding : 10px 20px;
	height : 40px;
	font-size : 16px;
	color : white;
	}
nav a:hover {
	color : #efe492;
}
.sort li{
	margin-left : 5px;
	border : 1px solid white;
	border-top-left-radius : 15px;
	border-top-right-radius : 15px;
}
.active{
	background : white;
	color : #4a527b;
}
.tab button{
	background : inherit;
	float : left;
	border : none;
	cursor : pointer;
	transition : 0.3s;
	font-size : 15px;
}
.tab button:hover{
	font-weight : bold;
	font-size : 17px;
}
.tab button.active{
	background : white;
	color : black;
}
/* 메뉴 - 태그들 모음*/
nav span{
	display: inline-block;
	border-radius : 50%;
	width : 15px;
	height : 15px;
}
.Red{background : red;	}
.Orange{background : orange;	}
.Green{background : green;	}
.Blue{background : blue;	}
.Violet{background : #8000ff;	}
.redTag{color : red;}
.orangeTag{color : orange;}
.greenTag{color : green;}
.blueTag{color : blue;	}
.violetTag{color : #8000ff;}

/* 본문 */
.main{
	/* border : 1px solid purple; */
	position:relative;
	width:1200px;
	height:660px;
	background : white;
	color : black;
	margin:auto;
}
/*슬라이드 버튼*/
.remoteBtn {
	position : absolute;
	top : 300px;
	right : -55px;
	z-index : 10000;
	width : 50px;
	height: 50px;
}
.remoteBtn a{
	/* border : 1px solid black; */
	cursor: pointer;
	display : block;
	margin : 0;
	padding :0;
	width : 30px;
	height : 30px;
	font-size : 25px;
	color : rgba(0,0,0,0.5);
}
.remoteBtn a:hover{
	color : white;
}

/*위 아래 버튼*/
#top,#bottom{
	display : block;
	width : 1200px;
	height : auto;
	color : #4a527b;
	text-align : center;
}
#top:hover a,#bottom:hover a{
	background : #4a527b;
	color : white;
}
#top a,#bottom a{
	display:inline-block;
	width : 100%;
	color : #4a527b;
}
/*아이템 박스*/
.itemList{
	position:relative;
	width : 1200px;
	height: 660px;
	overflow-x: hidden;
  	overflow-y: auto;
  	overflow-ms-overflow-style: none; 
}
.itemList::-webkit-scrollbar {
    display: none;
}

/* 편집박스 */
.modify{
	display : none;
	position : absolute;
	top : 0;
	left : 0;
	width : 200px;
	height : 300px;
	border : 1px solid white;
	padding-top : 80px;
	background : rgba(0,0,0,0.8);
	color : white;
}
.modify .btn{
	font-size : 18px;
	background : none;
	color : white;
	border : none;
	cursor: pointer;
}
.modify .btn:hover{
	border-bottom : 2px solid white;
}
/* 아이템박스 */
.item{
	/* border : 1px solid red; */
	position : relative;
	width : 200px;
	height : 210px;
	text-align : center;
	margin :10px 0;
	float : left;
	overflow : hidden;
}	
.friend:hover .pop{
	display : inline-block;
}
.pop{
	display : none;
	margin : 0;
	padding : 3px;
	width : 120px;
	border: 1px solid #fcd8a0;
	border-radius :20px;
	background : #f7e088;
	font-size : 12px;
}
/*삭제 버튼*/
.delete.btn{
	width : 25px;
	height : 25px;
	position :absolute;
	top : 0;
	right :20px;
	font-size : 17px;
	border:none;
	background : none;
	color : grey;
	cursor: pointer;
}
.delete.btn:hover{
	color : black;
}
.bookmark-area{
	display: inline-block;
}
.bookmark{
	font-family: 'Jua', cursive;
	font-size: 25px;
	margin : 0;
	padding : 0;
}
#offBookmark,#onBookmark{
	border : none;
	background : none;
	cursor: pointer;
}
.itemName{
	/* border : 1px solid black; */
	margin : auto;
	padding: 0 10px 0 10px;
	width : 200px;
	height : 30px;
	text-align:left;
	overflow : hidden;
	font-weight: bold;
}
.itemName:hover{
	height : auto;
	color : white
	overflow : auto;
}
.itemName a{
	color : black;
}
.itemPrice{
/* 	border : 1px solid black; */
	margin : auto;
	padding : 5px;
	width:200px;
	height: 30px;
	overflow : hidden;
	font-size : 15px;
}
.itemImg{
	width : 150px;
	height : 150px;
	padding:0;
	margin : auto;
}
.itemImg img{
	width : 150px;
	height : 150px;
}

