@import url('https://fonts.googleapis.com/css?family=Jua');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Chela+One');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One');
@charset "UTF-8";
*{
	box-sizing : border-box;
}
body{
	/* background : #14356b; */
	background-image : url("galaxy.gif");
	color : white;
	}
a{
	text-decoration: none;
}
ul li{
	list-style-type : none;
}
.clear{
	clear : both;
}
.hide{
	display : none;
}
	/* 헤더  */
header{
	text-align : center;
	font-family: 'Fugaz One', cursive;
}
header a{
	color : white;
}
	/* 메뉴 */
nav{
	margin:auto;
	position:relative; 
	padding:0;
	border:1px solid white;
	width : 1200px;
	/* height : 40px; */
	overflow : hidden;
}
#comment {
	background : grey;
	margin : 0;
	padding : 0 20px;
	font-weight : bold;
	}
.menu{
	width : 1200px;
	height : 50px;
	overflow : hidden;
}
nav ul{
	margin:0;
	padding:0;
}
nav li{
	border : 1px solid green;
	list-style-type : none;	
	margin : 0;
	padding : 0;
	float : left;
}
nav a {
	display : inline-block;
	background : none;	
	padding : 0 20px;
	height : 40px;
	font-size : 16px;
	color : white;
	}
nav a:hover {
	background : none;
	color : yellow;
}
nav a.active{
	background : white;
	color : #4a527b;
}
.tab button{
	background : inherit;
	float : left;
	border : none;
	cursor : pointer;
	transition : 0.3s;
	font-size : 15px;
}
.tab button:hover{
	font-weight : bold;
	font-size : 17px;
}
.tab button.active{
	background : white;
	color : black;
}
/* 메뉴 - 태그들 모음*/
nav span{
	display: inline-block;
	border-radius : 50%;
	width : 10px;
	height : 10px;
}
.Red{background : red;	}
.Orange{background : orange;	}
.Green{background : green;	}
.Blue{background : blue;	}
.Violet{background : #8000ff;	}
.redTag{color : red;}
.orangeTag{color : orange;}
.greenTag{color : green;}
.blueTag{color : blue;	}
.violetTag{color : #8000ff;}

/* 본문 */
.main{
	border : 1px solid purple;
	position:relative;
	width:1200px;
	height:660px;
	background : white;
	color : black;
	margin:auto;
}
/*슬라이드 버튼*/
.remoteBtn {
	position : absolute;
	top : 315px;
	left : -45px;
	z-index : 10000;
	width : 1300px;
	height: 50px;
}
.remoteBtn .btn{
	/* border : 1px solid black; */
	cursor: pointer;
	display : inline-block;
	margin : 0;
	padding :0;
	width : 50px;
	height : 50px;
	font-family: 'Jua', cursive;
	font-size : 40px;
	color : rgba(0,0,0,0.2);
}
.remoteBtn .btn:hover{
	color : white;
}
.pre{
	position : absolute;
	top:0;
	left:0;
}
.next{
	position : absolute;
	top:0;
	right:0;
}
/*아이템 박스*/
.itemList{
	position:relative;
	width : 1200px;
	height: 660px;
	overflow-x: hidden;
  	overflow-y: auto;
  	overflow
  	-ms-overflow-style: none; 
}
.itemList::-webkit-scrollbar {
    display: none;
}
.end{
	display : none;	
}
/* 편집박스 */
.modify{
	display : none;
	position : absolute;
	top : 0;
	left : 0;
	width : 200px;
	height : 300px;
	border : 1px solid white;
	padding-top : 80px;
	background : rgba(0,0,0,0.8);
	color : white;
}
.modify .btn{
	font-size : 18px;
	background : none;
	color : white;
	border : none;
	cursor: pointer;
}
.modify .btn:hover{
	border-bottom : 2px solid white;
}
/* 아이템박스 */
.item{
	/* border : 1px solid red; */
	position : relative;
	width : 200px;
	height : 210px;
	text-align : center;
	margin-bottom : 10px;
	float : left;
	overflow : hidden;
}	
.bookmark{
	font-family: 'Jua', cursive;
	font-size: 25px;
	margin : 0;
	padding : 0;
}
.itemName{
	/* border : 1px solid black; */
	margin : auto;
	padding: 0 10px 0 10px;
	width : 200px;
	height : 30px;
	text-align:left;
	overflow : hidden;
	font-weight: bold;
}
/* ------------------이름이 왼쪽으로 이동하면서 전체 이름 보여주기 애니메이션--------------------- */
.itemName:hover{
	height : auto;
	background : grey;
	overflow : visible;
}
.itemName a{
	color : black;
}
.itemPrice{
/* 	border : 1px solid black; */
	margin : auto;
	padding : 5px;
	width:200px;
	height: 30px;
	overflow : hidden;
	font-size : 15px;
}
.itemImg{
	width : 150px;
	height : 150px;
	padding:0;
	margin : auto;
}
.itemImg img{
	width : 150px;
	height : 150px;
}
.plus{
	padding : 0;
	display : inline-block;
	width : 100px;
	height : 100px;
	background : grey;
	border-radius : 50%;
	text-decoration : none;
	color : white;
	font-size : 90px;
	font-weight: bold;
}
