*{
box-sizing : border-box;
}
body{
	/* background : #14356b; */
	background-image : url("cityBg.gif");
	background-size : 100% 1000px;
	margin : 0;
	padding : 0;
}

/* 메뉴바 */
#buttons{
	position :fixed;
	top : 0px;
	left :0px;
	width : 300px;
	height : 900px;;
	position: relative;
	background: grey;
}
#buttons button{
	width : 100px;
	height : 150px;
	position : absolute;
	background : black;
	border : 3px inset white;;
	color : white;
	font-size: 30px;
}
#buttons button:hover{
	background: yellow;
	color:black;
}
/* #buttons a{
	display:block;
	width : 100%;
	height : 100%;
	color : white;
	text-decoration: none;
} */
 #buttons a{
	display:block;
	width : 100px;
	height : 150px;
	position : absolute;
	background : black;
	border : 3px inset white;;
	color :white;
	font-size: 30px;
	text-decoration: none;
	text-align: center;
}

#buttons a:hover{
	background : yellow;
	color :black;
}

#goInfo{
	top:300px;
	left : 20px;
}
#goCart{
	top:300px;
	left : 140px;
}
#login{
	top : 100px;
	left:140px;
} 
/*중간*/
#night{
	position:absolute;
	top:0;
	left:300px;
	width : 1000px;
	height : 1000px;
	clear : both;
	/* background : #14356b; */
}
/* 달 */
#moonShadow{
	position: absolute;
	top : -5px;
	right : 110px;
	background-color:#14356b;
	/* border : 1px solid red; */
	width : 110px;
	height : 110px;
	border-radius: 50%;
	animation : hide-moon 15s linear infinite;
}

#moon {
	position: absolute;
	top : 80px;
	right : 80px;
  	background-color: yellow;
  	width: 100px;
  	height: 100px;
	border-radius: 50%;
  	overflow:hiddoen;
}
@keyframes hide-moon{
	from{
		right : 120px;
	}
	25%{
		right : 80px;
	}
	50%{ right : 0px;
	}
	75%{ right : 80px;
	}
	to{
		right : 120;
	}
	
}
/* 로그인 */
#loginPage{
	/* position:absolute;
	top:1000px;
	left:300px; */
	width : 100%;
	height : 1000px;
	background : #11cdee;
}
#loginPage a{
	color : black;
	text-decoration: none;
	display : block;
	text-align: center;
}
#loginPage form{
	margin:auto;
	padding : 20px;
	width : 300px;
	height: 300px;
	background : white;
}

#loginPage .btn{
	background:#c0c0c0 ;
	border: none;
}
#loginPage .btn:hover{
	background:#11cdee ;
	border: none;
}
.loginBtn{
	width : 50px;
	height: 50px;
}
.joinBtn{
	width : 100px;
	height: 40px;
	position: relative;
	top: 50px;
	left: 80px;
}

#moamoaPage{
	width : 100%;
	height : 1000px;
	
	
}



